
    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, sans-serif;
    }

    body{
      background: linear-gradient(135deg, #4ed131, #2c5aa5);
      min-height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      padding:20px;
      color:white;
    }

    .contenedor{
      background:#225044;
      width:100%;
      max-width:450px;
      padding:30px;
      border-radius:15px;
      box-shadow:0 0 20px rgba(0,0,0,0.5);
      text-align:center;
    }

    h1{
      margin-bottom:15px;
      color:#38bdf8;
    }

    p{
      margin-bottom:20px;
      color:#cbd5e1;
    }

    input{
      width:100%;
      padding:12px;
      border:none;
      border-radius:8px;
      margin-bottom:15px;
      font-size:16px;
      outline:none;
    }

    button{
      width:100%;
      padding:12px;
      border:none;
      border-radius:8px;
      background:#38bdf8;
      color:white;
      font-size:16px;
      cursor:pointer;
      transition:0.3s;
    }

    button:hover{
      background:#0ea5e9;
      transform:scale(1.03);
    }

    #resultado{
      margin-top:20px;
      padding:15px;
      border-radius:10px;
      font-size:18px;
      font-weight:bold;
    }

    .primo{
      background:#17be54;
    }

    .noPrimo{
      background:#dc2626;
    }

    @media(max-width:500px){
      .contenedor{
        padding:20px;
      }

      h1{
        font-size:24px;
      }
    }